* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  line-height: 1;
}

html, body {
  background-color: #000;
}

.lol {
  margin-bottom: 150vh;
}

div {
  margin-bottom: 100px;
}